<!-- Container -->
<div class="container">
  <p-toast></p-toast>
  <!-- Box login -->
  <div class="box-login">
    <h2>Iniciar sesion</h2>
    <!-- inputs y boton -->
    <form action="" [formGroup]="formLogin" (ngSubmit)="doLogin()">
      <span class="p-float-label">
        <input #inUs id="float-username" type="email"  formControlName="email" required pInputText />
        <label for="float-username">Email</label>
      </span>
      <span class="p-float-label">
        <input #inps id="float-password" type="password" formControlName="password" required pInputText />
        <label for="float-password">Contraseña</label>
      </span>
      <button pButton label="Enviar" class="btnlogin" type="submit" [disabled]="!formLogin.valid"></button>
      <a routerLink="/forgot-password">¿ Olvidaste tu contraseña ?</a>
    </form>
  </div>
</div>
