<!-- container general -->
<div class="container cart">
  <!-- productos del carrito -->
  <div class="product-content" >
    <div class="title">
      <h2>Carrito</h2>
    </div>
    <div class="products" *ngFor="let products of items" >
      <div class="section1">
        <div class="content-img">
          <img src="{{ products.image }}" style="width: 100%;" alt="image" />
        </div>
        <div class="content-description">
          <h3 class="nameProduct">{{ products.name }}</h3>
          <p>
            <span>{{ products.pSelect.stock }}</span> Unidades disponibles
          </p>
          <p>{{ products.pSelect.name }}</p>
          <p>${{ products.pSelect.price1 * products.val | number : "1.0-0"}}</p>
        </div>
      </div>
      <div class="section2">
        <div class="buttons">
          <span (click)="deleteProduct(products)" style="cursor: pointer;" ><img src="../../../assets/delete.png" alt=""></span>
          <p-inputNumber
            class="increment-decrement"
            [(ngModel)]="products.val"
            [step]="1.0"
            [showButtons]="true"
            mode="decimal"
            [min]="1"
            [max]="100"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="vertical"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
            (onInput)="addMore(products.pSelect.price1 * products.val, products)"
          ></p-inputNumber>
        </div>
      </div>
    </div>
  </div>
  <div class="orden-content">
    <div class="subtotal">
      <h3>Subtotal</h3>
      <p>${{subtotal | number : "1.0-0"}}</p>
    </div>
    <div class="bn" style="width: 100%;">
      <button pButton type="button" label="Ordenar" [disabled]="bloquear" (click)="setOrder()"></button>
    </div>
  </div>
</div>
