<div class="content">
  <!--
  <div class="container-social-media">
    <a href="https://www.facebook.com">
      <img src="../../../assets/facebook.png" target="_blank" alt="" />
    </a>
    <a href="https://www.instagram.com" target="_blank">
    <img src="../../../assets/instagram.png" alt="" />
    </a>
    <a href="https://web.whatsapp.com">
      <img src="../../../assets/whatsapp.png" target="_blank" alt="" />
    </a>
  </div>-->
  <!-- <app-slider></app-slider> -->
  <!-- Container carousel        -->
  <div class="contenedor">
    <p-carousel
      [value]="carousel"
      [numVisible]="1"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
      [circular]="true"
      [autoplayInterval]="3000"
    >
      <ng-template let-carousel pTemplate="item">
        <div class="images-categories">
          <img class="img-carousel" src="{{ carousel.image }}" alt="" />
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <br>
    <!-- Container category ------------------------------ -->
    <div class="title container">
      <h1>Categorias</h1>
    </div>
    <div class="container-category">
      <div>
        <img class="alimentos" src="../../../assets/home/categories/concentrado.png" alt="" routerLink="products"/>
        <h3>alimentos</h3>
      </div>
      <div>
        <img src="../../../assets/home/categories/snack.png" alt="" class="Snacks" routerLink="products"/>
        <h3>Snacks</h3>
      </div>
      <div>
        <img src="../../../assets/home/categories/accesorio.png" alt="" class="Accesorios" routerLink="products"/>
        <h3>Accesorios</h3>
      </div>
      <div>
        <img src="../../../assets/home/categories/juguetes.png" alt="" class="Juguetes" routerLink="products" />
        <h3>Juguetes</h3>
      </div>
      <div>
        <img src="../../../assets/home/categories/salud.png" alt="" class="Salud-animal" routerLink="products"/>
        <h3>Salud animal</h3>
      </div>
    </div>

  <br>
    <!--Container Guia-->
    <section id="sobreNosotros" class="section service">
      <div class="container">
        <h2 class="h3 section-title">Compra en Almacen Mundo Animal</h2>
        <p class="section-text">¡Haz feliz a tu mascota en solo unos clics!
        </p>
        <ul class="grid-list">
          <li>
            <div class="service-card">
              <div class="card-icon">
                <img src="../../../assets/pasos/descubre.svg" alt="pedidos" />
              </div>
              <p class="h6 card-pasos">Paso 1</p>
              <h3 class="h5 card-title">Descubre</h3>
              <p class="card-text">
                Explora nuestra amplia selección de productos para mascotas y encuentra exactamente lo que necesitas para tu peludo amigo.</p>
            </div>
          </li>
          <li>
            <div class="service-card">
              <div class="card-icon">
                <img src="../../../assets/pasos/agregar.svg" alt="pedidos" />
              </div>
              <p class="h6 card-pasos">Paso 2</p>
              <h3 class="h5 card-title">Agrega</h3>
              <p class="card-text">
                Selecciona los productos que deseas y añádelos a tu carrito de compra.</p>
            </div>
          </li>
          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="../../../assets/pasos/reserva.svg"
                  alt="pedidos"
                />
              </div>
              <p class="h6 card-pasos">Paso 3</p>
              <h3 class="h5 card-title">Reserva</h3>
              <p class="card-text">
                Proporciona la información de envío y selecciona el método de pago.</p>
            </div>
          </li>
          <li>
            <div class="service-card">
              <div class="card-icon">
                <img src="../../../assets/pasos/empacar.svg" alt="pedidos" />
              </div>
              <p class="h6 card-pasos">Paso 4</p>
              <h3 class="h5 card-title">Recibe</h3>
              <p class="card-text">
                Confirma tu orden y espera a que tu pedido llegue. El pago se realizará al recibir el pedido.</p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!--Container Guia-->





  <!-- Container products -->
  <div class="titulo">
    <h1>Productos recomendados</h1>
    <hr/>
  </div>
  <div class="container productosContent">
    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions2">
      <ng-template let-product pTemplate="item">
        <div class="product-main">
          <div class="product-grid">
            <div class="showcase">
              <div class="showcase-banner">
                <img
                [src]="product.image"
                  alt="Chaquetas"
                  width="300"
                  class="product-img default"
                />
                <img
                [src]="product.image"
                alt="Chaquetas"
                  width="300"
                  class="product-img hover"
                />

                <p class="showcase-badge">15%</p>
              </div>
              <div class="showcase-content">
                <a [routerLink]="'/products/detail/'+ product.id" class="showcase-category">Chaquetas </a>
                <a [routerLink]="'/products/detail/'+ product.id">
                  <h3 class="showcase-title">
                    {{product.name}}
                  </h3>
                </a>
                <div class="price-box">
                  <p class="price">$48.00</p>
                  <del>$75.00</del>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
  </p-carousel>
  </div>

</div>
|
