<div class="cards-header">
  <div class="cards-view">
    <svg
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-calendar"
    >
      <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
      <path d="M16 2v4M8 2v4M3 10h18" />
    </svg>
    Vista de calendario
    <span class="today">Hoy</span>
  </div>
  <div class="cards-header-date">
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-chevron-left"
      >
        <path d="M15 18l-6-6 6-6" />
      </svg>
    </button>

    <div class="title">sábado, 25 de noviembre de 2020</div>
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-chevron-right"
      >
        <path d="M9 18l6-6-6-6" />
      </svg>
    </button>
  </div>
  <button class="cards-button button">
    <svg
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-plus"
    >
      <path d="M12 5v14M5 12h14" />
    </svg>
    Crear
  </button>
</div>
<div class="cards card">
  <table class="table">
    <thead>
      <tr>
        <th>Hora</th>
        <th>Nombre</th>
        <th>Destino</th>
        <th>Valor</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="time">17.00</span>
        </td>
        <td>Miguel Z.</td>
        <td>Calle 38 #38-46</td>
        <td>$150.000</td>
        <td>
          <div class="status is-green">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M20 6L9 17l-5-5" />
            </svg>
            Activo
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="time">17.00</span>
        </td>
        <td>Bernard</td>
        <td>Calle 18 #38-46</td>
        <td>$150.000</td>
        <td>
          <div class="status is-red">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 6L6 18M6 6l12 12" />
            </svg>
            Rechazado
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <span class="time is-wait">17.00</span>
        </td>
        <td>Jairo M.</td>
        <td>Calle 12 #25-46</td>
        <td>$170.000</td>
        <td>
          <div class="status is-wait">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-loader"
            >
              <path
                d="M12 2v4M12 18v4M4.93 4.93l2.83 2.83M16.24 16.24l2.83 2.83M2 12h4M18 12h4M4.93 19.07l2.83-2.83M16.24 7.76l2.83-2.83"
              />
            </svg>
            Espera
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="time">17.00</span>
        </td>
        <td>Miguel Z.</td>
        <td>Calle 45 #38-46</td>
        <td>$250.000</td>
        <td>
          <div class="status is-green">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M20 6L9 17l-5-5" />
            </svg>
            Activo
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="time">17.00</span>
        </td>
        <td>Bernard</td>
        <td>Calle 38 #38-46</td>
        <td>$150.000</td>
        <td>
          <div class="status is-red">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 6L6 18M6 6l12 12" />
            </svg>
            Rechazado
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
