:host::ng-deep *:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow:none;
}
:host::ng-deep .p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow:none;
  border-color: none;
}
:host::ng-deep .p-inputtext:enabled:hover {
  border-color: #EFF6FF;
}

.container__2{
  width:100%;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
}
:host ::ng-deep .p-dropdown {
  width: max-content;
    font-weight: 750;
    border: 0;
    outline-color: transparent;
}

:host ::ng-deep .product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}
:host ::ng-deep .p-ripple.p-element.p-button.p-component{
  padding: 5px;
  border-radius: 5px;
  border-color: #b3b3b3;
  border-right: 0.2px solid #b3b3b3 !important;
  width: 197px;
  display: flex;
  flex-direction: row;
  height: 61px;
}

:host::ng-deep .categorieButtons .p-selectbutton{
  display: flex;
  flex-wrap: wrap;
  gap: 14.6px;
}
:host ::ng-deep .image-cateorgy{
  height: auto;
  width: 56px;
  margin-left: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: self-start;
}

.category-name{
  font-size: 24px;
  /* text-transform: capitalize; */
  font-weight: 600;
  color: #1A2638;
  margin-left: 18px;
}

:host ::ng-deep .container-categories .subtitle{
  font-size: 1.092rem;
  font-weight: bold;
  margin-right: 18.77px;
}
.container-products{
  width: 100%;
  align-self: center;
}
:host ::ng-deep .container-products .p-dataview .p-dataview-content{
  background: transparent;
}

:host::ng-deep .p-paginator .p-paginator-first {
  display: none;
}

:host::ng-deep .p-paginator .p-paginator-last{
  display: none;
}
:host::ng-deep .p-paginator .p-paginator-prev{
  border-radius: 0;
  transition: box-shadow 0.2s;
  margin:0px 7px 0px 0px;
  min-width: max-content;
  height: max-content;
}
:host::ng-deep .p-paginator .p-paginator-prev::after{
  content: "Anterior ";
  display: block;
  color: #1A2638;
  font-size: 0.8rem;
  border-radius: 0 !important;
}
:host::ng-deep .p-paginator .p-paginator-next:enabled:hover:focus{
  background: transparent;
  border: 0;
  outline-width: 0;
  outline: none;
  outline-offset: 0;
}
:host::ng-deep .p-paginator .p-paginator-next{
  border-radius: 0;
  transition: box-shadow 0.2s;
  margin:0px 0px 0px 7px;
  min-width: max-content;
  height: max-content;
}
:host::ng-deep .p-paginator .p-paginator-next::before{
  content: " Siguiente";
  display: block;
  color: #1A2638;
  font-size: 0.8rem;
}
:host::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: #1A2638;
  min-width: 1.5rem;
  height: 1.5rem;
  margin: 0rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;
}

:host::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #EFF6FF;
  border-color: transparent;
  border: 0;
  color: #9AAC18;
}
:host::ng-deep .p-link:focus {
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
}
:host ::ng-deep .container-categories div.p-button.p-component {

}

:host ::ng-deep  .p-selectbutton .p-button.p-highlight{
  background-color: #9AAC18;
  border: 0px solid transparent;
  outline-width: 0;
  border: 0;
}

:host ::ng-deep  .p-selectbutton .p-button-label{
  font-size: 13px;
}

.filtros{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}


.subcategory{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  align-self: center;
  padding-top: 1.2rem;
  padding-bottom: 2rem 0;
  width: 100%;
}



:host ::ng-deep .p-dataview-content .p-grid.p-nogutter.grid.grid-nogutter{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(273px, 1fr) );
  justify-items: center;
  gap: 10px;
}


:host ::ng-deep .product-description {
  margin: 0 0 1rem 0;
}



:host ::ng-deep .product-category {
  font-weight: 600;
  vertical-align: middle;
}

:host ::ng-deep .p-dataview .p-dataview-header{
  background-color: transparent;
  border: none;
}

:host ::ng-deep .product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
:host ::ng-deep .product-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

:host ::ng-deep .product-list-item .product-list-detail {
  flex: 1 1 0;
}

:host ::ng-deep .product-list-item .p-rating {
  margin: 0 0 .5rem 0;
}

:host ::ng-deep .p-rating .p-rating-icon.pi-star-fill {
  color: #F9BF1C;
  width: 14px;
}

:host ::ng-deep .product-list-item .product-price {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: .5rem;
  align-self: flex-end;
}

:host ::ng-deep .product-list-item .product-list-action {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .product-list-item .p-button {
  margin-bottom: .5rem;
}

:host ::ng-deep .p-inputnumber-input{
  width: 3.5rem;
}
/*
:host ::ng-deep .product-grid-item-top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
*/
:host ::ng-deep .social-icon{
  color: white;
  position: absolute;
  right: 0rem;
  top: 0rem;
  font-size: 2.2rem;
  background: #25d366;
  border-radius: 25px;
}



:host::ng-deep .select_presentation .p-component {
  display: flex;
  gap: 8px;
  /*width: 800px;
*/}



.product-grid-item {
  min-width: 267px;
  overflow: hidden;
  position: relative;
}
.product-grid-item-container{
  overflow: hidden;
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px 10px;
}

.product-grid-item-container_border{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #F3F3F3;
}
/*
.product-grid-item .product-grid-item-top,
.product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
*/

.product-grid-item img {
  width: 75%;
  /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  */margin: 2rem 0;
}

.product-grid-item .product-grid-item-content {
  font-size: 2.0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 !important;
}
/*:host ::ng-deep .content-properties button:hover{
  background-color: #E9ECEF;
}
*/

.content-properties{
  display: flex;
  flex-direction: row;
  justify-content: start;
  display: flex;
  align-items: start;
}

.product-grid-item-content .product-price {
  font-size: 2.0rem;
  font-weight: 600;
  /*
  margin-right: 7px;*/

}

.product-price{
  font-size: 23px !important;
}
:host ::ng-deep  .increment-decrement button, :host ::ng-deep .increment-decrement input{
  background: transparent;
  border: 0px;
  padding: 0;
  width: 25px;
  text-align: center;
  height: 22px;
}
:host ::ng-deep  .increment-decrement button:enabled:hover{
  background-color: #1A2638;
  color: white;
}

:host ::ng-deep .increment-decrement .p-inputnumber.p-component.p-inputnumber-buttons-horizontal{
  height: 24.75px;
  border: 0.14rem solid #cccc;
  border-radius: 7px;
}
.select_presentation{
  display: flex;
  justify-content: start;
  padding: 5px 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  margin: 0 !important;
  border: 0;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
.contaienr-image {
  height: 220px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contaienr-image .products-image{
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
}

:host ::ng-deep .p-rating.p-readonly{
  padding: 3px 0px 3px 0px;
}



.add-to-cart{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

:host ::ng-deep .add-to-cart button{
  width: 100%;
  background-color: #9aac18;
  border-color: #9aac18;
  letter-spacing: 0.2px;
  font-size: 1.3rem;
  color: white Impo !important;

}

:host ::ng-deep .add-to-cart button.size {
	width: 20px;
	left: 108px;
	font-size: 0;
	color: #9aac18;
	letter-spacing: 0;
	-webkit-transition: .2s linear;
	-moz-transition: .9s linear;
	-ms-transition: .2s linear;
	-o-transition: .2s linear;
	transition: .2s linear;
}
:host ::ng-deep .add-to-cart button.move {
  -webkit-transition: .4s linear;
	-moz-transition: .4s linear;
	-ms-transition: .4s linear;
	-o-transition: .4s linear;
	transition: .4s linear;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transform-origin: 108px 24px;
	-moz-transform-origin: 108px 24px;
	-o-transform-origin: 108px 24px;
	-ms-transform-origin: 108px 24px;
	transform-origin: 880px 238px;

}


:host ::ng-deep .add-to-cart button:enabled:hover {
  background: #1A2638;
  color: #ffffff;
  border-color: none;
  outline: auto;
  outline-color: transparent;
  outline-width: 0px;
}
:host ::ng-deep .add-to-cart .p-button-label{
  color: white;
}



:host ::ng-deep .container-categories{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  align-self: center;
  padding-top: 3.2rem;
  padding-bottom: 2rem 0;
  width: 97%;
}




.container-info-product{
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 4px;
}
.container-info-product .product-name a{
  text-decoration: none;
  background-color: transparent;
  list-style: none;
}
.container-info-product .product-name{
  text-align: start;
  color: #1A2638;
  font-size: 1.2rem;
  font-weight: 450;
  line-height: normal;
  height: 45px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
   /* Ajusta según tus necesidades */
   line-height: 1.1;

}
/*
:host ::ng-deep .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}*/



:host ::ng-deep  .p-button-icon.pi.pi-minus{
  font-size: 11px;
}

.product-grid-item-container_border:hover {
  -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}
button{
  display: block;
}

.showcase-actions .btn-action {
  background: hsl(0, 100%, 100%);
  color: hsl(0, 0%, 47%);
  margin-bottom: 5px;
  border: 1px solid hsl(0, 0%, 93%);
  padding: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.showcase-actions {
  position: absolute;
  font-size: 20px;
  top: 18px;
  right: 15px;
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  z-index: 4;
}

.product-grid-item-container:hover .showcase-actions {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
/*
.showcase-actions .btn-action:hover {
  background:hsl(221, 39%, 11%);
  color: hsl(0, 100%, 100%);
  border-color: hsl(221, 39%, 11%);
}*/

.showcase-actions .btn-action .like.default {
  position: relative;
  z-index: 1;
}

.btn-action .like.hover {
  position: absolute;
  top: -20px;
  left: 4px;
  z-index: 5;
  opacity: 0;
}

.showcase-actions .btn-action:hover .like.hover {
  opacity: 1;
}

.showcase-actions :hover .like.default{
  opacity: 0;
}

.showcase-actions:hover .like {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}


.showcase-actions .btn-action .whatsapp:hover{
  border-radius: 25px;
  background: #25d366;
  color: hsl(0, 100%, 100%);
}

/* select presentacion */
.select_presentation{
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.select_presentation::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  background-color: #f1f1f1;
}

.select_presentation::-webkit-scrollbar-thumb{
  width: 5px;
  height: 5px;
  background-color: #1A2638;
  border-radius: 20px;
}
:host ::ng-deep .select .ng-star-inserted{
  width:auto;
}
.select label{
    white-space: nowrap;
    font-size: 13px;
    border: 1px solid #1a253794;
    color: #1a2537;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    max-width: max-content;
    min-width: 40px;
    height: 39px;
    padding: 9px;
}

.select input:checked + label, .checked{
  background-color: #1A2638;
  border-color: #fff !important;
  color: #fff !important;
}



/* diseño responsive para mobil */
@media only screen and (min-width: 360px) and (max-width: 720px){

  :host ::ng-deep .product-list-item {
    flex-direction: column;
    align-items: center;
  }
  :host ::ng-deep .product-list-item img {
    width: 75%;
    margin: 2rem 0;
  }

  :host ::ng-deep .product-list-item .product-list-detail {
    text-align: center;
  }

  :host ::ng-deep .product-list-item .product-price {
    align-self: center;
  }

  :host ::ng-deep .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
  }

  :host ::ng-deep .product-list-item .product-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }


}

@media only screen and (min-width:721px) and (max-width:1200px){

}

@media only screen and(min-width:1201){

}
