<div class="container">
  <p-toast></p-toast>
  <div class="content">
    <h2>Clasificacion</h2>
    <div class="upload_img">
      <img [src]="image" alt="image" />
    </div>
    <form [formGroup]="formClasification">
      <div class="uploadChange" *ngIf="!nuevo">
        <button class="btnAdd" type="button" (click)="(uploadChange.click)">
          <label for="uploadChange"
            ><i class="pi pi-file-import"></i> Cambiar imagen</label
          >
          <input
            #uploadChange
            type="file"
            id="uploadChange"
            accept="image/*"
            style="display: none"
            (change)="fileUpdate($event)"
          />
        </button>
        <p>{{ uploadChange.value || "Empty" }}</p>
      </div>
      <div class="uploadMain" *ngIf="nuevo">
        <button class="btnAdd" type="button" (click)="(uploadMain.click)">
          <label for="uploadMain"
            ><i class="pi pi-file-import"></i> Adjuntar imagen</label
          >
          <input
            #uploadMain
            type="file"
            id="uploadMain"
            accept="image/*"
            (change)="fileEvent($event)"
          />
        </button>
        <p>{{ uploadMain.value || "Empty" }}</p>
      </div>
      <span>
        <label for="name">Nombre </label>
        <input pInputText type="text" id="name" formControlName="name" />
      </span>
      <span>
        <label for="categoria">Categoria asociada </label>
        <p-dropdown
          id="categoria"
          [options]="subcategoria"
          formControlName="subCategorieId"
          optionLabel="name"
          optionValue="code"
          [required]="true"
        ></p-dropdown>
      </span>
    </form>
    <button
      pButton
      label="Guardar"
      class="p-button-success"
      *ngIf="!nuevo"
      type="button"
      (click)="saveChange()"
    ></button>
    <button
      pButton
      label="Crear"
      class="p-button-success"
      *ngIf="nuevo"
      type="button"
      (click)="newItem()"
    ></button>
    <button
      pButton
      label="Cancelar"
      type="button"
      class="cancelar"
      style="background-color: red; border: 0;"
      (click)="goBack()"
    ></button>
  </div>
</div>
