<!-- contenedor -->
<div class="contenedor">
  <p-toast></p-toast>
  <!-- Div de la card -->
  <div class="card">
    <div class="container-images">
      <div class="imageSelect">
        <img [src]="imageSelect" alt="" />
      </div>
      <div class="contentImages">
        <button pButton icon="pi pi-plus" (click)="upload.click()"></button>
        <input
          #upload
          type="file"
          id="upload"
          accept="image/png, image/jpg, image/jpeg"
          (change)="ExtractImage($event)"
          style="display: none"
        />
        <img [src]="product && product.image" *ngIf="!switch" />
        <div class="image" *ngFor="let images of imagenes">
          <i
            class="pi pi-trash"
            style="
              color: red;
              position: absolute;
              margin-left: 45px;
              background-color: #fff;
              padding: 8px;
              border-radius: 10px;
              cursor: pointer;
              z-index: 10;
            "
            (click)="deleteImage(images.id)"
          ></i>
          <img
            [src]="images.url"
            *ngIf="imagenes.length > 0"
            (click)="viewImage(images.url)"
          />
        </div>
      </div>
    </div>
    <div class="description-content">
      <form [formGroup]="formProducts">
        <span>
          <label for="nombre">Nombre </label>
          <input
            pInputText
            type="text"
            id="nombre"
            formControlName="name"
            required
          />
        </span>
        <span>
          <label for="descripcion">Descripcion </label>
          <textarea
            id="descripcion"
            pInputTextarea
            formControlName="description"
            required
          ></textarea>
        </span>
        <span>
          <label for="Marcas">Marcas </label>
          <p-dropdown
            id="Marcas"
            [options]="marcas"
            formControlName="brands"
            optionLabel="name"
            optionValue="code"
            [required]="true"
          ></p-dropdown>
        </span>
        <span>
          <label for="categoria">Categorias </label>
          <p-dropdown
            id="categoria"
            [options]="categoria"
            formControlName="categories"
            optionLabel="name"
            optionValue="id"
            (onChange)="changeSubcategoria()"
          ></p-dropdown>
        </span>
        <span *ngIf="formProducts.value.categories !== 0" >
          <label for="categoria">Subcategorias </label>
          <p-dropdown
            id="categoria"
            [options]="subcategoria"
            formControlName="subcategorie"
            optionLabel="name"
            optionValue="id"
            (onChange)="changeClasificacion()"
          ></p-dropdown>
        </span>
        <span *ngIf="formProducts.value.subcategorie !== 0">
          <label for="Clasificacion">Clasificacion </label>
          <p-dropdown
            id="Clasificacion"
            [options]="clasificacion"
            formControlName="clasifications"
            optionLabel="name"
            optionValue="id"
          ></p-dropdown>
        </span>
        <div class="porcent">
          <span class="bool">
            <label for="state">Estado </label>
            <p-triStateCheckbox
              id="state"
              formControlName="state"
            ></p-triStateCheckbox>
          </span>

          <span>
            <label for="iva">IVA % </label>
            <input
              pInputText
              type="number"
              id="iva"
              formControlName="iva"
              required
            />
          </span>
          <span>
            <label for="desc">Descuento % </label>
            <input
              pInputText
              type="number"
              id="desc"
              formControlName="desc"
              required
            />
          </span>
        </div>
        <div class="porcent">
          <span>
            <label for="StartPromo">Inicio de promo </label>
            <input
              pInputText
              type="date"
              id="StartPromo"
              formControlName="startPromo"
            />
          </span>
          <span>
            <label for="EndPromo">Fin de promo </label>
            <input
              pInputText
              type="date"
              id="EndPromo"
              formControlName="endPromo"
            />
          </span>
        </div>
        <div class="uploadMain" *ngIf="switch">
          <button class="btnAdd" type="button" (click)="(uploadMain.click)">
            <label for="uploadMain"
              ><i class="pi pi-file-import"></i> Adjuntar imagen</label
            >
            <input
              #uploadMain
              type="file"
              id="uploadMain"
              accept="image/png, image/jpg, image/jpeg"
              (change)="fileEvent($event)"
            />
          </button>
          <p>{{ uploadMain.value || "Empty" }}</p>
        </div>
        <div class="uploadMain" *ngIf="!switch">
          <button class="btnAdd" type="button" (click)="(uploadchange.click)">
            <label for="uploadchange"
              ><i class="pi pi-file-import"></i> Cambiar imagen</label
            >
            <input
              #uploadchange
              type="file"
              id="uploadchange"
              accept="image/png, image/jpg, image/jpeg"
              (change)="cambiarImagen($event)"
              style="display: none"
            />
          </button>
          <p>{{ uploadchange.value || "Empty" }}</p>
        </div>
        <button
          pButton
          label="Guardar imagen"
          (click)="changeImagen()"
          *ngIf="!switch"
          [disabled]="!newImage"
        ></button>
        <div class="buttons" style="display: flex; gap: 10px;">
          <button
            pButton
            label="Guardar"
            type="button"
            [disabled]="!formProducts.valid"
            *ngIf="!switch"
            (click)="editProduct()"
          ></button>
          <button
            pButton
            label="Crear"
            type="button"
            [disabled]="!formProducts.valid || !archivo"
            *ngIf="switch"
            (click)="addNew()"
          ></button>
          <button
            pButton
            label="Cancelar"
            type="button"
            class="cancelar"
            style="background-color: red;"
            (click)="goBack()"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
