<footer class="footer">
  <div class="container grid-list">
    <div class="footer-brand">
      <a href="" class="logo">
        <img src="./../../../../assets/Logo_MA-07.png" alt="logo" />
      </a>
      <p class="footer-text">
        &copy; 2023 MundoAnimal. Reservados todos los derechos.
      </p>
    </div>

    <ul class="footer-list">
      <li>
        <p class="footer-list-title">Enlace Rapido</p>
      </li>
      <li>
        <a href="" class="footer-link">Servicios</a>
      </li>
      <li>
        <a href="" class="footer-link">Envio</a>
      </li>
      <li>
        <a href="" class="footer-link">Ubicaciones</a>
      </li>
      <li>
        <a href="" class="footer-link">Terminos y condiciones</a>
      </li>
    </ul>

    <ul class="footer-list">
      <li>
        <p class="footer-list-title">Contactos</p>
      </li>
      <li>
        <a href="" class="footer-link">3232 532523 2352352</a>
      </li>
      <li>
        <a href="" class="footer-link">michelsrtiver@gmai.com</a>
      </li>
      <li>
        <a href="" class="footer-link"
          >2715 Ash Dr. San Jose, South Dakota 83475</a
        >
      </li>
    </ul>

    <ul class="footer-list">
      <li>
        <p class="footer-list-title">Suscribirse</p>
      </li>
      <form action="" class="footer-forms">
        <input type="text" name="" id=""   class="footer-input"  placeholder="Nombre">
        <input type="email" name="" id=""  class="footer-input"  placeholder="Correo Electronico">
        <button class="btn btn-primary">Suscribete</button>
      </form>
    </ul>
  </div>

  <div class="footer-copyright">
    <p class="footer-text">
      &copy; 2023 MundoAnimal. Reservados todos los derechos.
    </p>
    <div class="footer-icons">
    </div>
  </div>
</footer>
