<!-- Container -->
<div class="container">
  <!-- Box login -->
  <div class="box-sign-in">
    <h2>Registrarse</h2>
    <!-- inputs y boton -->
    <form [formGroup]="formRegister" (ngSubmit)="auth()">
      <span class="p-float-label">
        <input
          #inUs
          id="username"
          type="email"
          required
          formControlName="email"
          pInputText
        />
        <label for="username">Email</label>
      </span>
      <span class="p-float-label">
        <input
          #inps
          id="password"
          type="password"
          required
          formControlName="password"
          pInputText
        />
        <label for="password">Crear contraseña</label>
      </span>
      <span class="p-float-label">
        <input
          #inps
          id="password"
          type="password"
          required
          formControlName="password2"
          pInputText
        />
        <label for="password">Repetir contraseña</label>
      </span>
      <div class="checkTerminos">
        <input type="checkbox" formControlName="condiciones" id="condiciones" >
        <label for="condiciones">Aceptar <a href="">terminos y condiciones.</a></label>
      </div>
      <p
        style="color: red; margin-bottom: 5px; font-weight: 400"
        *ngIf="formRegister.value.password !== formRegister.value.password2"
      >
        Contraseñas no coinciden
      </p>

      <button
        pButton
        type="submit"
        label="Siguiente"
        class="btnsignin"
        [disabled]="!formRegister.valid || formRegister.value.password !== formRegister.value.password2"
      ></button>
    </form>
  </div>
</div>
