<!-- contenedor -->
<div class="contenedor">
  <p-toast></p-toast>
  <!-- Div de la card -->
  <div class="card">
    <div class="description-content">
      <form [formGroup]="formAppointment">
        <div class="form-header">
          <span>
            <label for="id">Numero de solicitud </label>
            <input pInputText type="text" readonly id="id" formControlName="id" required />
          </span>
          <span>
            <label for="hour">Hora </label>
            <input pInputText type="time" readonly id="hour" formControlName="hour" required />
          </span>

          <span>
            <label for="date">Fecha </label>
            <input pInputText type="date" readonly id="date" formControlName="date" required />
          </span>
          <span>
            <label for="nameStudent">Nombre Estudiante </label>
            <input pInputText type="text" readonly id="nameStudent" formControlName="nameStudent" required />

          </span>
        </div>

        <span>
          <label for="detail">Detalles </label>
          <textarea id="detail" pInputTextarea formControlName="detail" readonly required></textarea>
        </span>
        <div class="form-header">
          <span>
            <label for="reason">Motivo </label>
            <input pInputText type="text" readonly id="reason" formControlName="reason" required />
          </span>
          <span>
            <label for="adminStaff">Administrativo </label>
            <p-dropdown id="adminStaff" [options]="admin" formControlName="adminStaff" optionLabel="name" optionValue="code"
              [required]="true"></p-dropdown>
          </span>
          <span>
            <label for="idStudent">N° DNI Estudiante </label>
            <input pInputText type="number" readonly id="idStudent" formControlName="idStudent" required />
          </span>
          <span>
            <label for="status">Estado </label>
            <p-dropdown id="status" [options]="status" formControlName="status" optionLabel="name" optionValue="code"
              [required]="true"></p-dropdown>
          </span>
        </div>
        <div class="buttons" style="display: flex; gap: 10px;">
          <button pButton label="Cancelar" type="button" class="cancelar" style="background-color: red;"
           value="cancelar" (click)="goBack()"></button>
          <button pButton label="Guardar" type="button"
          (click)="updateAppointment()"
          ></button>

        </div>
      </form>
    </div>
  </div>
</div>
